In [4]:
import numpy as np
import pandas as pd

In [5]:
mpg = pd.read_csv('mpg.csv')

## 과제

- mpg 데이터를 가지고 오늘 배운 내용을 실제로 응용해서 만들어 주세요!
- 예제를 3개 이상 만들어 주세요!
- 배운 내용을 3개 이상 만들어 주세요!

In [6]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [11]:
mpg.groupby('manufacturer').agg(mean_displ=('displ','mean'))
# 제조사별 배기량 평균

              mean_displ
manufacturer
audi            2.544444
chevrolet       5.063158
dodge           4.378378
ford            4.536000
honda           1.711111
hyundai         2.428571
jeep            4.575000
land rover      4.300000
lincoln         5.400000
mercury         4.400000
nissan          3.269231
pontiac         3.960000
subaru          2.457143
toyota          2.952941
volkswagen      2.255556

In [19]:
mpg.groupby('manufacturer')['displ','cty','hwy'].mean()
# 제조사별 배기량 도시연비 고속도로연비

C:\Users\crasheso\AppData\Local\Temp/ipykernel_10092/1239140089.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mpg.groupby('manufacturer')['displ','cty','hwy'].mean()

                 displ        cty        hwy
manufacturer
audi          2.544444  17.611111  26.444444
chevrolet     5.063158  15.000000  21.894737
dodge         4.378378  13.135135  17.945946
ford          4.536000  14.000000  19.360000
honda         1.711111  24.444444  32.555556
hyundai       2.428571  18.642857  26.857143
jeep          4.575000  13.500000  17.625000
land rover    4.300000  11.500000  16.500000
lincoln       5.400000  11.333333  17.000000
mercury       4.400000  13.250000  18.000000
nissan        3.269231  18.076923  24.615385
pontiac       3.960000  17.000000  26.400000
subaru        2.457143  19.285714  25.571429
toyota        2.952941  18.529412  24.911765
volkswagen    2.255556  20.925926  29.222222

In [31]:
mpg.query("manufacturer == 'audi'").groupby('model')['cty','hwy'].mean()
# 아우디 제조사의 모델별 도시연비,고속도로 연비 평균 
# query의 인자는 '조건문' -> ==

C:\Users\crasheso\AppData\Local\Temp/ipykernel_10092/2477043701.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mpg.query("manufacturer == 'audi'").groupby('model')['cty','hwy'].mean()

                  cty        hwy
model
a4          18.857143  28.285714
a4 quattro  17.125000  25.750000
a6 quattro  16.000000  24.000000

In [35]:
prob1= mpg.groupby('manufacturer').agg(mean_displ=('displ','mean'))
prob1.reset_index()
# 인덱스를 컬럼으로 바꾸기

   manufacturer  mean_displ
0          audi    2.544444
1     chevrolet    5.063158
2         dodge    4.378378
3          ford    4.536000
4         honda    1.711111
5       hyundai    2.428571
6          jeep    4.575000
7    land rover    4.300000
8       lincoln    5.400000
9       mercury    4.400000
10       nissan    3.269231
11      pontiac    3.960000
12       subaru    2.457143
13       toyota    2.952941
14   volkswagen    2.255556

In [36]:
mpg.groupby('manufacturer',as_index=False).agg(mean_displ=('displ','mean'))
# 다른 방식 , 변수 선언 없이

   manufacturer  mean_displ
0          audi    2.544444
1     chevrolet    5.063158
2         dodge    4.378378
3          ford    4.536000
4         honda    1.711111
5       hyundai    2.428571
6          jeep    4.575000
7    land rover    4.300000
8       lincoln    5.400000
9       mercury    4.400000
10       nissan    3.269231
11      pontiac    3.960000
12       subaru    2.457143
13       toyota    2.952941
14   volkswagen    2.255556

In [38]:
mpg.groupby('trans')['displ','cty','hwy'].mean()
# 구동방식의 평균통계

C:\Users\crasheso\AppData\Local\Temp/ipykernel_10092/95382445.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mpg.groupby('trans')['displ','cty','hwy'].mean()

               displ        cty        hwy
trans
auto(av)    2.920000  20.000000  27.800000
auto(l3)    2.100000  21.000000  27.000000
auto(l4)    3.715663  15.939759  21.963855
auto(l5)    3.917949  14.717949  20.717949
auto(l6)    4.633333  13.666667  20.000000
auto(s4)    3.433333  18.666667  25.666667
auto(s5)    3.766667  17.333333  25.333333
auto(s6)    3.412500  17.375000  25.187500
manual(m5)  2.732759  19.258621  26.293103
manual(m6)  3.678947  16.894737  24.210526

In [46]:
mpg.groupby(['model','drv']).agg(mean_hwy=('hwy','mean')).sort_values('mean_hwy',ascending=False)
# 고속도로 연비 평균이 높은순으로 정렬하고 
# 모델과 구동방식 별 고속도로 연비 평균

                             mean_hwy
model                  drv
corolla                f    34.000000
new beetle             f    32.833333
civic                  f    32.555556
jetta                  f    29.111111
altima                 f    28.666667
a4                     f    28.285714
camry                  f    28.285714
camry solara           f    28.142857
sonata                 f    27.714286
malibu                 f    27.600000
passat                 f    27.571429
gti                    f    27.400000
grand prix             f    26.400000
impreza awd            4    26.000000
tiburon                f    26.000000
a4 quattro             4    25.750000
maxima                 f    25.333333
forester awd           4    25.000000
corvette               r    24.800000
a6 quattro             4    24.000000
mustang                r    23.222222
caravan 2wd            f    22.363636
toyota tacoma 4wd      4    19.428571
4runner 4wd            4    18.833333
mountaineer 4wd        4    18.000000
explorer 4wd           4    18.000000
pathfinder 4wd         4    18.000000
c1500 suburban 2wd     r    17.800000
grand cherokee 4wd     4    17.625000
expedition 2wd         r    17.333333
navigator 2wd          r    17.000000
dakota pickup 4wd      4    17.000000
land cruiser wagon 4wd 4    16.500000
range rover            4    16.500000
f150 pickup 4wd        4    16.428571
k1500 tahoe 4wd        4    16.250000
durango 4wd            4    16.000000
ram 1500 pickup 4wd    4    15.300000

### 병합

In [49]:
add_mpg = pd.DataFrame({'manufacturer':["audi","hyundai","kia"],
                       'model':["a4","sonata","sorento"],'country':["germany","korea","korea"]})

In [51]:
add_mpg

  manufacturer    model  country
0         audi       a4  germany
1      hyundai   sonata    korea
2          kia  sorento    korea

In [58]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [53]:
pd.concat([mpg,add_mpg])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,country
0,audi,a4,1.8,1999.0,4.0,auto(l5),f,18.0,29.0,p,compact,NaN
1,audi,a4,1.8,1999.0,4.0,manual(m5),f,21.0,29.0,p,compact,NaN
2,audi,a4,2.0,2008.0,4.0,manual(m6),f,20.0,31.0,p,compact,NaN
3,audi,a4,2.0,2008.0,4.0,auto(av),f,21.0,30.0,p,compact,NaN
4,audi,a4,2.8,1999.0,6.0,auto(l5),f,16.0,26.0,p,compact,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
232,volkswagen,passat,2.8,1999.0,6.0,manual(m5),f,18.0,26.0,p,midsize,NaN
233,volkswagen,passat,3.6,2008.0,6.0,auto(s6),f,17.0,26.0,p,midsize,NaN
0,audi,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,germany
1,hyundai,sonata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,korea
2,kia,sorento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,korea

In [54]:
pd.concat([mpg,add_mpg],axis=0)
# 행을 기준으로 ↓

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,country
0,audi,a4,1.8,1999.0,4.0,auto(l5),f,18.0,29.0,p,compact,NaN
1,audi,a4,1.8,1999.0,4.0,manual(m5),f,21.0,29.0,p,compact,NaN
2,audi,a4,2.0,2008.0,4.0,manual(m6),f,20.0,31.0,p,compact,NaN
3,audi,a4,2.0,2008.0,4.0,auto(av),f,21.0,30.0,p,compact,NaN
4,audi,a4,2.8,1999.0,6.0,auto(l5),f,16.0,26.0,p,compact,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
232,volkswagen,passat,2.8,1999.0,6.0,manual(m5),f,18.0,26.0,p,midsize,NaN
233,volkswagen,passat,3.6,2008.0,6.0,auto(s6),f,17.0,26.0,p,midsize,NaN
0,audi,a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,germany
1,hyundai,sonata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,korea
2,kia,sorento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,korea

In [55]:
pd.concat([mpg,add_mpg],axis=1)
# 열을 기준으로 →

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,manufacturer,model,country
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,audi,a4,germany
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,hyundai,sonata,korea
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,kia,sorento,korea
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,NaN,NaN,NaN
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,NaN,NaN,NaN
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,NaN,NaN,NaN
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,NaN,NaN,NaN
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,NaN,NaN,NaN
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,NaN,NaN,NaN

In [56]:
display(mpg)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [62]:
mpg.loc[[15,105,150],['cty','hwy','displ']] = np.nan

In [70]:
mpg.isna().sum()

manufacturer    0
model           0
displ           3
year            0
cyl             0
trans           0
drv             0
cty             3
hwy             3
fl              0
category        0
dtype: int64

In [76]:
mpg.fillna(0)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18.0,29.0,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21.0,29.0,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20.0,31.0,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21.0,30.0,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16.0,26.0,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19.0,28.0,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21.0,29.0,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16.0,26.0,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18.0,26.0,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17.0,26.0,p,midsize

In [79]:
mpg.head(16)
# fillna()로는 원본에 영향 x

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18.0,29.0,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21.0,29.0,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20.0,31.0,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21.0,30.0,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16.0,26.0,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18.0,26.0,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18.0,27.0,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18.0,26.0,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16.0,25.0,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20.0,28.0,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19.0,27.0,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15.0,25.0,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17.0,25.0,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15.0,25.0,p,compact
15,audi,a6 quattro,NaN,1999,6,auto(l5),4,NaN,NaN,p,midsize

In [84]:
mpg['cty'] = mpg['cty'].fillna(0)
mpg['hwy'] = mpg['hwy'].fillna(0)
mpg['displ'] = mpg['displ'].fillna(0)

In [87]:
mpg.head(20).sort_values('cty')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
15,audi,a6 quattro,0.0,1999,6,auto(l5),4,0.0,0.0,p,midsize
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11.0,15.0,e,suv
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14.0,20.0,r,suv
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15.0,25.0,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15.0,25.0,p,compact
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16.0,23.0,p,midsize
4,audi,a4,2.8,1999,6,auto(l5),f,16.0,26.0,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16.0,25.0,p,compact
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,midsize
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17.0,25.0,p,compact
0,audi,a4,1.8,1999,4,auto(l5),f,18.0,29.0,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18.0,26.0,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18.0,27.0,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18.0,26.0,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19.0,27.0,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20.0,31.0,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20.0,28.0,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21.0,30.0,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21.0,29.0,p,compact

In [90]:
mpg['cty'].mean()

16.628205128205128

In [91]:
mpg.loc[[15,105,150],['cty','hwy','displ']] = np.nan

In [92]:
mpg['cty'].mean()

16.844155844155843

In [93]:
mpg.sort_values('cty')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9.0,12.0,e,suv
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9.0,12.0,e,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9.0,12.0,e,pickup
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9.0,12.0,e,pickup
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9.0,12.0,e,suv
...,...,...,...,...,...,...,...,...,...,...,...
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33.0,44.0,d,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35.0,44.0,d,subcompact
15,audi,a6 quattro,NaN,1999,6,auto(l5),4,NaN,NaN,p,midsize
105,honda,civic,NaN,2008,4,auto(l5),f,NaN,NaN,r,subcompact
150,nissan,pathfinder 4wd,NaN,1999,6,auto(l4),4,NaN,NaN,r,suv

In [96]:
mpg.dropna().head(20)
# dropna() 원본에서 결측치 인덱스를 생략하여 출력
# 원본에 영향 x

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18.0,29.0,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21.0,29.0,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20.0,31.0,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21.0,30.0,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16.0,26.0,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18.0,26.0,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18.0,27.0,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18.0,26.0,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16.0,25.0,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20.0,28.0,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19.0,27.0,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15.0,25.0,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17.0,25.0,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15.0,25.0,p,compact
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16.0,23.0,p,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14.0,20.0,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11.0,15.0,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14.0,20.0,r,suv

In [95]:
mpg.head(20)
# 위와 차이가 있음

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18.0,29.0,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21.0,29.0,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20.0,31.0,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21.0,30.0,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16.0,26.0,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18.0,26.0,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18.0,27.0,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18.0,26.0,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16.0,25.0,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20.0,28.0,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19.0,27.0,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15.0,25.0,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17.0,25.0,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15.0,25.0,p,compact
15,audi,a6 quattro,NaN,1999,6,auto(l5),4,NaN,NaN,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17.0,25.0,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16.0,23.0,p,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14.0,20.0,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11.0,15.0,e,suv