## 필수과제 
### 기상청 데이터에서 
- 날씨 데이터를 받아오셔서 melt 함수를 이용해서 깔끔하게 정리해 주세요!
- 22년 10, 11월 / 21년 10월 11월 두 개를 비교해서 
- 날씨에 대한 비교도 간단하게 부탁드릴게요!

In [1]:
import pandas as pd

In [4]:
df2022 = pd.read_csv("2022년 날씨.csv", encoding = 'euc-kr')

In [5]:
df2022

,지점번호,지점명,일시,평균기온(℃),최고기온(℃),Unnamed: 5,최고기온시각,최저기온(℃),최저기온시각일교차
0,108,서울,2022-10-01,20.9,27.6,13:57,14.4,6:41,13.2
1,108,서울,2022-10-02,19.4,21.6,13:21,17.2,22:32,4.4
2,108,서울,2022-10-03,21.4,23.4,20:04,17.5,0:01,5.9
3,108,서울,2022-10-04,17.9,23.0,0:01,14.2,23:29,8.8
4,108,서울,2022-10-05,16.6,21.6,15:19,14.1,0:34,7.5
5,108,서울,2022-10-06,15.8,19.1,14:19,12.7,6:40,6.4
6,108,서울,2022-10-07,14.3,18.6,15:22,11.0,6:51,7.6
7,108,서울,2022-10-08,15.8,21.6,15:08,11.1,6:54,10.5
8,108,서울,2022-10-09,13.1,14.5,1:17,10.7,22:21,3.8
9,108,서울,2022-10-10,9.9,11.9,14:08,8.2,20:34,3.7
10,108,서울,2022-10-11,11.1,16.4,15:31,7.4,2:50,9.0
11,108,서울,2022-10-12,13.5,20.6,15:13,6.5,6:45,14.1
12,108,서울,2022-10-13,16.3,22.7,14:35,10.7,6:39,12.0
13,108,서울,2022-10-14,17.1,23.0,14:54,12.4,5:29,10.6
14,108,서울,2022-10-15,18.2,24.4,15:05,12.6,6:53,11.8
15,108,서울,2022-10-16,16.9,20.5,12:02,15.1,24:00:00,5.4
16,108,서울,2022-10-17,11.2,15.1,0:01,7.4,23:44,7.7
17,108,서울,2022-10-18,9.4,14.2,14:51,5.0,6:57,9.2
18,108,서울,2022-10-19,10.5,16.8,15:10,4.4,6:54,12.4
19,108,서울,2022-10-20,12.9,19.7,15:00,6.0,7:11,13.7
20,108,서울,2022-10-21,14.0,20.9,14:31,8.8,7:07,12.1
21,108,서울,2022-10-22,15.1,20.8,14:12,10.5,7:24,10.3
22,108,서울,2022-10-23,14.0,18.6,14:59,10.4,23:56,8.2
23,108,서울,2022-10-24,10.6,14.8,15:21,7.5,23:56,7.3
24,108,서울,2022-10-25,11.3,17.6,15:35,5.9,5:31,11.7
25,108,서울,2022-10-26,12.9,17.8,13:50,8.0,6:53,9.8
26,108,서울,2022-10-27,13.2,18.9,14:14,8.6,7:01,10.3
27,108,서울,2022-10-28,13.6,20.6,15:25,8.2,6:36,12.4
28,108,서울,2022-10-29,14.8,21.3,15:07,10.2,7:09,11.1
29,108,서울,2022-10-30,14.9,21.3,15:03,10.4,7:02,10.9
30,108,서울,2022-10-31,14.9,21.1,14:06,11.2,7:10,9.9
31,108,서울,2022-11-01,13.1,17.8,15:11,9.4,23:55,8.4
32,108,서울,2022-11-02,11.1,17.9,14:31,5.5,7:15,12.4
33,108,서울,2022-11-03,9.3,13.4,12:42,5.6,23:56,7.8
34,108,서울,2022-11-04,4.9,9.8,14:40,1.6,7:09,8.2
35,108,서울,2022-11-05,6.5,13.6,15:22,0.8,7:21,12.8
36,108,서울,2022-11-06,9.6,16.4,13:59,3.7,7:30,12.7
37,108,서울,2022-11-07,11.4,16.6,14:32,6.1,5:46,10.5
38,108,서울,2022-11-08,12.9,17.9,14:14,9.7,7:39,8.2
39,108,서울,2022-11-09,11.4,16.0,14:04,6.7,7:18,9.3
40,108,서울,2022-11-10,13.5,19.1,14:08,8.8,6:41,10.3
41,108,서울,2022-11-11,15.6,22.1,15:38,10.9,4:34,11.2
42,108,서울,2022-11-12,16.3,22.0,13:18,11.6,5:01,10.4
43,108,서울,2022-11-13,10.3,17.3,0:01,8.7,23:57,8.6
44,108,서울,2022-11-14,9.7,13.8,13:05,5.9,23:56,7.9
45,108,서울,2022-11-15,8.1,12.3,13:41,4.0,6:58,8.3
46,108,서울,2022-11-16,8.5,13.0,14:31,5.5,7:03,7.5
47,108,서울,2022-11-17,10.2,16.6,14:36,5.4,7:22,11.2
48,108,서울,2022-11-18,11.0,18.1,15:02,5.3,7:49,12.8
49,108,서울,2022-11-19,12.9,19.2,15:07,8.7,1:11,10.5
50,108,서울,2022-11-20,13.7,20.2,13:32,9.5,7:25,10.7
51,108,서울,2022-11-21,11.8,16.2,11:32,9.3,7:11,6.9
52,108,서울,2022-11-22,10.7,13.7,14:14,7.0,6:51,6.7
53,108,서울,2022-11-23,10.8,15.2,13:22,6.8,23:43,8.4
54,108,서울,2022-11-24,9.4,14.1,15:19,5.9,2:35,8.2
55,108,서울,2022-11-25,12.3,17.8,15:01,7.1,2:53,10.7
56,108,서울,2022-11-26,6.7,12.9,0:01,1.0,23:41,11.9

In [6]:
df2022.head(10)

,지점번호,지점명,일시,평균기온(℃),최고기온(℃),Unnamed: 5,최고기온시각,최저기온(℃),최저기온시각일교차
0,108,서울,2022-10-01,20.9,27.6,13:57,14.4,6:41,13.2
1,108,서울,2022-10-02,19.4,21.6,13:21,17.2,22:32,4.4
2,108,서울,2022-10-03,21.4,23.4,20:04,17.5,0:01,5.9
3,108,서울,2022-10-04,17.9,23.0,0:01,14.2,23:29,8.8
4,108,서울,2022-10-05,16.6,21.6,15:19,14.1,0:34,7.5
5,108,서울,2022-10-06,15.8,19.1,14:19,12.7,6:40,6.4
6,108,서울,2022-10-07,14.3,18.6,15:22,11.0,6:51,7.6
7,108,서울,2022-10-08,15.8,21.6,15:08,11.1,6:54,10.5
8,108,서울,2022-10-09,13.1,14.5,1:17,10.7,22:21,3.8
9,108,서울,2022-10-10,9.9,11.9,14:08,8.2,20:34,3.7

In [8]:
df2021 = pd.read_csv("2021년 날씨.csv")

In [9]:
df2021

,지점번호,지점명,일시,평균기온(℃),최고기온(℃),Unnamed: 5,최고기온시각,최저기온(℃),최저기온시각일교차
0,108,서울,2021-10-01,21.1,27.5,14:16,16.9,6:05,10.6
1,108,서울,2021-10-02,20.7,26.6,15:16,16.4,5:40,10.2
2,108,서울,2021-10-03,22.3,28.8,14:47,17.1,5:52,11.7
3,108,서울,2021-10-04,22.9,25.6,15:09,19.2,2:23,6.4
4,108,서울,2021-10-05,23.6,26.5,13:35,21.7,23:38,4.8
5,108,서울,2021-10-06,18.8,21.7,0:01,17.9,8:29,3.8
6,108,서울,2021-10-07,19.4,21.9,13:45,17.9,23:53,4.0
7,108,서울,2021-10-08,18.8,20.0,13:59,17.5,1:17,2.5
8,108,서울,2021-10-09,20.9,24.1,16:32,18.5,3:39,5.6
9,108,서울,2021-10-10,19.9,24.3,12:09,14.9,23:57,9.4
10,108,서울,2021-10-11,15.2,17.8,16:14,12.6,6:46,5.2
11,108,서울,2021-10-12,17.9,21.3,15:56,15.8,1:30,5.5
12,108,서울,2021-10-13,19.6,25.2,15:55,14.9,4:45,10.3
13,108,서울,2021-10-14,19.7,23.9,14:44,17.4,6:59,6.5
14,108,서울,2021-10-15,19.0,21.4,13:56,17.0,6:37,4.4
15,108,서울,2021-10-16,10.7,18.1,0:01,4.2,23:27,13.9
16,108,서울,2021-10-17,5.6,10.8,15:48,1.3,6:57,9.5
17,108,서울,2021-10-18,9.6,16.1,13:47,2.8,4:53,13.3
18,108,서울,2021-10-19,10.9,15.0,13:36,7.1,23:59,7.9
19,108,서울,2021-10-20,9.5,15.8,15:15,4.6,6:12,11.2
20,108,서울,2021-10-21,9.8,16.2,15:11,4.9,6:58,11.3
21,108,서울,2021-10-22,10.8,17.2,15:43,5.2,6:58,12.0
22,108,서울,2021-10-23,11.4,18.4,14:08,5.7,7:16,12.7
23,108,서울,2021-10-24,11.4,18.1,15:22,6.0,7:13,12.1
24,108,서울,2021-10-25,11.7,17.6,15:28,6.3,7:17,11.3
25,108,서울,2021-10-26,13.0,19.0,14:41,7.7,6:38,11.3
26,108,서울,2021-10-27,13.4,18.1,15:57,9.8,23:49,8.3
27,108,서울,2021-10-28,12.7,20.0,15:37,7.1,7:09,12.9
28,108,서울,2021-10-29,14.6,20.6,14:56,10.5,5:11,10.1
29,108,서울,2021-10-30,13.8,18.0,16:12,11.0,7:04,7.0
30,108,서울,2021-11-01,12.9,16.9,14:52,10.3,7:17,6.6
31,108,서울,2021-11-02,11.5,16.9,14:52,7.9,5:41,9.0
32,108,서울,2021-11-03,12.1,17.1,13:49,7.6,7:09,9.5
33,108,서울,2021-11-04,12.1,16.3,16:11,8.4,7:18,7.9
34,108,서울,2021-11-05,13.0,20.2,14:32,7.8,7:11,12.4
35,108,서울,2021-11-06,14.1,21.3,14:16,8.8,6:17,12.5
36,108,서울,2021-11-07,15.3,21.3,13:32,9.7,7:09,11.6
37,108,서울,2021-11-08,8.6,15.5,0:01,4.5,23:47,11.0
38,108,서울,2021-11-09,4.9,6.5,16:30,3.0,3:48,3.5
39,108,서울,2021-11-10,4.2,7.7,15:26,0.7,4:52,7.0
40,108,서울,2021-11-11,5.3,9.7,12:38,2.1,5:30,7.6
41,108,서울,2021-11-12,4.5,8.6,14:13,1.3,7:29,7.3
42,108,서울,2021-11-13,7.3,13.4,13:36,0.5,7:04,12.9
43,108,서울,2021-11-14,11.3,16.4,13:32,7.8,5:09,8.6
44,108,서울,2021-11-15,10.1,15.7,14:32,5.8,7:38,9.9
45,108,서울,2021-11-16,8.5,13.6,13:58,4.4,7:16,9.2
46,108,서울,2021-11-17,7.5,12.5,12:48,2.7,6:55,9.8
47,108,서울,2021-11-18,11.9,16.2,14:10,7.7,0:25,8.5
48,108,서울,2021-11-19,12.9,16.7,14:25,10.2,23:56,6.5
49,108,서울,2021-11-20,10.4,15.6,14:46,6.8,7:28,8.8
50,108,서울,2021-11-21,10.4,13.1,13:50,7.6,23:58,5.5
51,108,서울,2021-11-22,2.7,7.5,0:01,-0.6,23:42,8.1
52,108,서울,2021-11-23,-0.6,2.3,15:19,-3.7,7:28,6.0
53,108,서울,2021-11-24,4.1,9.1,13:30,-2.6,2:48,11.7
54,108,서울,2021-11-25,5.7,9.9,13:56,2.6,23:52,7.3
55,108,서울,2021-11-26,2.9,7.2,12:14,-0.5,5:56,7.7
56,108,서울,2021-11-27,3.4,10.1,15:03,-1.4,7:30,11.5
57,108,서울,2021-11-28,5.1,12.4,14:15,-1.3,7:43,13.7
58,108,서울,2021-11-29,7.6,13.7,15:41,2.5,6:06,11.2
59,108,서울,2021-11-30,5.7,8.9,13:34,0.7,23:56,8.2

In [10]:
df2021.head(10)

,지점번호,지점명,일시,평균기온(℃),최고기온(℃),Unnamed: 5,최고기온시각,최저기온(℃),최저기온시각일교차
0,108,서울,2021-10-01,21.1,27.5,14:16,16.9,6:05,10.6
1,108,서울,2021-10-02,20.7,26.6,15:16,16.4,5:40,10.2
2,108,서울,2021-10-03,22.3,28.8,14:47,17.1,5:52,11.7
3,108,서울,2021-10-04,22.9,25.6,15:09,19.2,2:23,6.4
4,108,서울,2021-10-05,23.6,26.5,13:35,21.7,23:38,4.8
5,108,서울,2021-10-06,18.8,21.7,0:01,17.9,8:29,3.8
6,108,서울,2021-10-07,19.4,21.9,13:45,17.9,23:53,4.0
7,108,서울,2021-10-08,18.8,20.0,13:59,17.5,1:17,2.5
8,108,서울,2021-10-09,20.9,24.1,16:32,18.5,3:39,5.6
9,108,서울,2021-10-10,19.9,24.3,12:09,14.9,23:57,9.4

In [13]:
pd.melt(df2022, id_vars='일시')

             일시   variable value
0    2022-10-01       지점번호   108
1    2022-10-02       지점번호   108
2    2022-10-03       지점번호   108
3    2022-10-04       지점번호   108
4    2022-10-05       지점번호   108
..          ...        ...   ...
451  2022-11-22  최저기온시각일교차   6.7
452  2022-11-23  최저기온시각일교차   8.4
453  2022-11-24  최저기온시각일교차   8.2
454  2022-11-25  최저기온시각일교차  10.7
455  2022-11-26  최저기온시각일교차  11.9

[456 rows x 3 columns]

In [15]:
pd.melt(df2022, id_vars = ['지점번호','지점명'])

     지점번호 지점명   variable       value
0     108  서울         일시  2022-10-01
1     108  서울         일시  2022-10-02
2     108  서울         일시  2022-10-03
3     108  서울         일시  2022-10-04
4     108  서울         일시  2022-10-05
..    ...  ..        ...         ...
394   108  서울  최저기온시각일교차         6.7
395   108  서울  최저기온시각일교차         8.4
396   108  서울  최저기온시각일교차         8.2
397   108  서울  최저기온시각일교차        10.7
398   108  서울  최저기온시각일교차        11.9

[399 rows x 4 columns]

In [19]:
melt2022 = pd.melt(df2022, id_vars = ['지점번호','지점명','일시']) 
melt2022

     지점번호 지점명          일시   variable value
0     108  서울  2022-10-01    평균기온(℃)  20.9
1     108  서울  2022-10-02    평균기온(℃)  19.4
2     108  서울  2022-10-03    평균기온(℃)  21.4
3     108  서울  2022-10-04    평균기온(℃)  17.9
4     108  서울  2022-10-05    평균기온(℃)  16.6
..    ...  ..         ...        ...   ...
337   108  서울  2022-11-22  최저기온시각일교차   6.7
338   108  서울  2022-11-23  최저기온시각일교차   8.4
339   108  서울  2022-11-24  최저기온시각일교차   8.2
340   108  서울  2022-11-25  최저기온시각일교차  10.7
341   108  서울  2022-11-26  최저기온시각일교차  11.9

[342 rows x 5 columns]

In [26]:
melt2022.groupby('variable').max()

            지점번호 지점명          일시  value
variable
Unnamed: 5   108  서울  2022-11-26  20:04
최고기온(℃)      108  서울  2022-11-26   27.6
최고기온시각       108  서울  2022-11-26   17.5
최저기온(℃)      108  서울  2022-11-26   7:49
최저기온시각일교차    108  서울  2022-11-26   14.1
평균기온(℃)      108  서울  2022-11-26   21.4

In [27]:
melt2022.groupby('variable').min()

            지점번호 지점명          일시 value
variable
Unnamed: 5   108  서울  2022-10-01  0:01
최고기온(℃)      108  서울  2022-10-01   9.8
최고기온시각       108  서울  2022-10-01   0.8
최저기온(℃)      108  서울  2022-10-01  0:01
최저기온시각일교차    108  서울  2022-10-01   3.7
평균기온(℃)      108  서울  2022-10-01   4.9

In [28]:
melt2021 = pd.melt(df2021, id_vars = ['지점번호','지점명','일시']) 
melt2021

     지점번호 지점명          일시   variable value
0     108  서울  2021-10-01    평균기온(℃)  21.1
1     108  서울  2021-10-02    평균기온(℃)  20.7
2     108  서울  2021-10-03    평균기온(℃)  22.3
3     108  서울  2021-10-04    평균기온(℃)  22.9
4     108  서울  2021-10-05    평균기온(℃)  23.6
..    ...  ..         ...        ...   ...
355   108  서울  2021-11-26  최저기온시각일교차   7.7
356   108  서울  2021-11-27  최저기온시각일교차  11.5
357   108  서울  2021-11-28  최저기온시각일교차  13.7
358   108  서울  2021-11-29  최저기온시각일교차  11.2
359   108  서울  2021-11-30  최저기온시각일교차   8.2

[360 rows x 5 columns]

In [29]:
melt2021.groupby('variable').max()

            지점번호 지점명          일시  value
variable
Unnamed: 5   108  서울  2021-11-30  16:32
최고기온(℃)      108  서울  2021-11-30   28.8
최고기온시각       108  서울  2021-11-30   21.7
최저기온(℃)      108  서울  2021-11-30   8:29
최저기온시각일교차    108  서울  2021-11-30   13.9
평균기온(℃)      108  서울  2021-11-30   23.6

In [30]:
melt2021.groupby('variable').min()

            지점번호 지점명          일시 value
variable
Unnamed: 5   108  서울  2021-10-01  0:01
최고기온(℃)      108  서울  2021-10-01   2.3
최고기온시각       108  서울  2021-10-01  -3.7
최저기온(℃)      108  서울  2021-10-01  0:25
최저기온시각일교차    108  서울  2021-10-01   2.5
평균기온(℃)      108  서울  2021-10-01  -0.6

In [31]:
display(melt2021.groupby('variable').max())
melt2022.groupby('variable').max()

            지점번호 지점명          일시  value
variable
Unnamed: 5   108  서울  2021-11-30  16:32
최고기온(℃)      108  서울  2021-11-30   28.8
최고기온시각       108  서울  2021-11-30   21.7
최저기온(℃)      108  서울  2021-11-30   8:29
최저기온시각일교차    108  서울  2021-11-30   13.9
평균기온(℃)      108  서울  2021-11-30   23.6

            지점번호 지점명          일시  value
variable
Unnamed: 5   108  서울  2022-11-26  20:04
최고기온(℃)      108  서울  2022-11-26   27.6
최고기온시각       108  서울  2022-11-26   17.5
최저기온(℃)      108  서울  2022-11-26   7:49
최저기온시각일교차    108  서울  2022-11-26   14.1
평균기온(℃)      108  서울  2022-11-26   21.4

In [32]:
display(melt2021.groupby('variable').min())
melt2022.groupby('variable').min()

            지점번호 지점명          일시 value
variable
Unnamed: 5   108  서울  2021-10-01  0:01
최고기온(℃)      108  서울  2021-10-01   2.3
최고기온시각       108  서울  2021-10-01  -3.7
최저기온(℃)      108  서울  2021-10-01  0:25
최저기온시각일교차    108  서울  2021-10-01   2.5
평균기온(℃)      108  서울  2021-10-01  -0.6

            지점번호 지점명          일시 value
variable
Unnamed: 5   108  서울  2022-10-01  0:01
최고기온(℃)      108  서울  2022-10-01   9.8
최고기온시각       108  서울  2022-10-01   0.8
최저기온(℃)      108  서울  2022-10-01  0:01
최저기온시각일교차    108  서울  2022-10-01   3.7
평균기온(℃)      108  서울  2022-10-01   4.9